html {
    scroll-behavior: smooth;
}

nav {
    width: 100%;

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;

        a {
            @include fontSize(25);
            color: white;
            font-family: $logoFont;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;

            &:hover,
            &:focus {
                color: #696969;
                transition: .5s;
            }
        }
    }
}

h1 {
    text-align: center;
    font-family: $logoFont;
    @include fontSize(90);
    text-transform: uppercase;
}

button {
    padding: 20px 50px;
    font-family: $logoFont;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    background-color: rgba($color: #696969, $alpha: .7);
    margin: 42.88px 0;
    transition: .5s;

    &:hover,
    &:focus {
        cursor: url(../assets/rocketship-emoji.png), pointer;
        background-image: url(../assets/smoke.gif);
        background-size: cover;
        background-position: center;
        background-repeat: none;
        color: transparent;
        padding: 50px 50px;
    }
}

p,
footer {
    font-family: $bodyFont;
    text-align: center;
    @include fontSize(25);
    margin: 5px 0px;
}

h1,
h2,
p,
button,
footer {
    color: white;
}

h2 {
    font-family: $logoFont;
    @include fontSize(50);
    text-align: center;
}

footer {

    p {
        background-color: rgba($color: #696969, $alpha: .7);
        border-radius: 30px;
        margin-top: 50px;
        letter-spacing: .2rem;
        padding: 10px 10px;
    }

    a {
        text-decoration: none;
        color: white;
        transition: .5s;

        &:hover,
        &:focus {
            color: #EA593E
        }
    }
}