body {
    background-image: url(../assets/sparkling-stars.gif);

    .wrapper {
        width: 1200px;
        margin: 0 auto;
        max-width: 90%;
    }

    .headContent {
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .nasaImgContainer {
        min-height: 80vh;
        display: none;
        
        ul {
            list-style: none;
            padding: 0;
            padding-bottom: 40px;
            text-align: center;
            background-color: rgba($color: #696969, $alpha: .7);
            border-radius: 30px;

            li {
                display: flex;
                align-items: center;
                flex-direction: column;

                img {
                    width: 80%;
                    object-fit: contain;
                    border-radius: 50px;
                }

                p {
                    display: none;
                    padding-top: 50px;
                    width: 80%;
                    text-align: left;
                    line-height: 2rem;
                    letter-spacing: .15rem;
                }
            }
        }
    }
}