// contact navigation

.contactNav {
    padding-top: 20px;

    ul {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    i {
        @include fontSize(45);
    }
}

// contact header

.contactHeader {
    min-height: 15vh;
    display: grid;
    h2 {
        @include fontSize(60);
        text-align: center;
        text-transform: uppercase;
        margin: auto;
    }
}

// contact information section
.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-width: 100%;
    min-height: 70vh;
    gap: 80px;
    color: white;

    .nin,
    .morgan {
        background-color: rgba($color: #696969, $alpha: .7);
        border-radius: 30px;
        padding: 60px 0px;
        min-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 { 
            font-family: $logoFont;
            @include fontSize(40);
            text-align: center;
            margin: 0;
            margin-bottom: 30px;
        }
    }

    .linkContainer {
        
        display: flex;
        gap: 30px;
    }
    .linkLogos {
        @include fontSize(34);
        gap: 10px
    }

    .urlLinks {
        @include fontSize(32);
        gap: 8px;

        a {
            text-decoration: none;
            font-family: $bodyFont;
            color: white;

            &:hover,
            &:focus {
                color: rgb(176, 145, 205);
                transition: .2s ease-in-out;
            }
        }
        
    }
    .linkLogos, .urlLinks {
        display: flex;
        flex-direction: column;
    }
}