@font-face {
    font-family: "NASA";
    src: url(../fonts/nasalization-rg.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Sans Mateo";
    src: url(../fonts/Sans-Mateo-2-Regular.ttf);
}