@font-face {
    font-family: "nasa";
    src: url(../fonts/nasalization-rg.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Sans Mateo";
    src: url(../fonts/sans_mateo/sans-mateo-regular.ttf), url(../fonts/sans_mateo/sans-mateo-italic.ttf), url(../fonts/sans_mateo/sans-mateo-bold.ttf);
}